body { 
  background: url(../images/Spring2013_graduates_bw.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#primary_nav_wrap
{
	margin: auto;
	margin-top: 5px;
	position: fixed;
	background-color: white;
	z-index: 1;
	border: 1px solid white;
	top: 0;
	width: 100%;
	border-top: 1px solid #F58025; /*orange*/
	border-bottom: 1px solid #F58025; /*orange*/
}

#primary_nav_wrap ul
{
	max-width: 1000px;
	list-style: none;
	margin: 5px auto;
	padding:0
}

#primary_nav_wrap ul a {
	display: block;
	color: #333;
	text-decoration: none;
	font-size: 16px;
	padding: 0 15px;
	font-family:'Fredericka the Great', cursive;
}

#primary_nav_wrap ul li {
	position: relative;
	float: left;
	text-align: center;
	margin: auto;
	padding: 0
}

#primary_nav_wrap ul li#donate {
	background-color: #F58025;
	border: 1px solid white;
	border-radius: 2px; 
	margin: 0px 20px 5px ;
	float: right;
}

#primary_nav_wrap ul li#donate a {
	color: white;
	text-transform: uppercase;
}

#primary_nav_wrap ul li#donate a:hover {
	color: #16023B; /*blue*/
}

#primary_nav_wrap ul li.current-menu-item a {
	color: #F58025;
	text-transform: uppercase;
}

#primary_nav_wrap ul li a:hover {
	text-transform: uppercase;
	color: #F58025; /*orange*/
}

#primary_nav_wrap ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: rgba(255,255,255,0.7);
	border-bottom: 1px solid white;
	padding: 0
}

#primary_nav_wrap ul ul li {
	float: none;
	width: 200px;
	text-align: left;
}

#primary_nav_wrap ul ul a {
	line-height:140%;
	padding:8px 15px
}

#primary_nav_wrap ul ul ul {
	top: 0;
	left: 100%
}

#primary_nav_wrap ul li:hover > ul {
	display:block
}