/*DEFAULT CSS STARTER*/

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*BACKGROUND IMAGE*/

body { 
  background: url(../images/Spring2013_graduates_bw.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*MAIN NAVIGATION BAR*/

div#nav-main, div.nav-mobile {
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	top: 0;
	width: 100%;

}

div#nav-main ul {
	max-width: 1000px;
	margin: auto;
}

div#nav-main ul li, div#nav-main ul li a {
	color: #16023B;
	font-family: 'Fredericka the Great', cursive;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	float: left;
	width: 150px;
	margin: 5px auto;

}

div#nav-main ul li a.thispage {
	text-transform: uppercase;
	color: #F58025;
}

div#nav-main ul li.donate {
	background-color: #F58025;
	border: 1px solid white;
	border-radius: 2px; 
	margin: 5px 20px;
	float: right;
}

div#nav-main ul li.donate a {
	color: white;
}

div#nav-main ul li a:hover {
	text-transform: uppercase;
	color: #F58025; /*orange*/
}

div#nav-main ul li.donate a:hover {
	color: #16023B; /*blue*/
}

/*HEADERS*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fredericka the Great', cursive;
	margin: 20px 0px;
}

h1 {
	font-size: 98px;
	text-align: center;
	color: #16023B; /*blue*/

}

h2 {
	font-size: 48px;
	color: #FFFFFF; /*white*/
}

h3 {
	font-size: 32px;
	color: #16023B; /*blue*/
}

h4 {
	font-size: 26px;
	color: #16023B; /*blue*/
}

#slider h4 {
	text-align: center; /*Used in SLIDER to keep text centered.*/
}

h5 {
	font-size: 18px;
	color: #16023B; /*blue*/
}

h6 {
	font-size: 14px;
	color: #16023B; /*blue*/
}

/*BODY COPY*/

p, li, div.more-info p {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

p {
	color: white;
}

div.more-info p, div.more-info a, div.more-info li {
	color: #16023B; /*blue*/
}

div.more-info li, div.content li {
	list-style: disc;
	list-style-position: inside;
}

button, a.expand-link, a.backtotop {
	font-family: 'Lato', cursive;
	font-size: 20px;
	margin-top: 20px;
}

button {
	color: white;
	background-color: #F58025;
	border: 1px solid white;
	border-radius: 5px; 
	text-align: center;
	text-decoration: none;
}

button a {
	text-decoration: none;
	color: white;
}

p a, div.more-info li a, div.content li a {
	text-decoration: underline #F58025; /*orange*/
}

button a:hover, a.expand-link:hover, a.backtotop:hover  {
	text-transform: uppercase;
}



/*MAIN HEADER*/

header {
	height: 100vh;
}

header > div, section > div { /*targeting ONLY the very first div inside a section tag.*/
	max-width: 900px;
	margin: auto;	
}

header > div {
	background-color: rgba(255,255,255,0.7);
	border: 1px solid white;
}

header, section {
	padding: 50px;
}

a#down {
	display: block;
    position: absolute;
    width: 30px;
    bottom: 50px;
    margin: auto;
    left: 0;
    right: 0;
}

a#down:after {
	content: " ";
	display: block;
	width: 40px;
	height: 40px;
	border-right: 8px solid #F58025; /*orange*/
	border-bottom: 8px solid #F58025; /*orange*/
	transform: rotate(45deg);
}

/*SLIDER*/

div.slider {
	background-color: rgba(255,255,255,0.7); /*translucent white*/
	border: 1px solid white;
}

div.slider img {
	max-width: 900px;
	margin: 15px auto;
}

/*SECTION-SPECIFIC*/

section:nth-child(odd) {
	background-color: rgba(255,255,255,0.7);
	border-top: 5px solid #F58025;
	border-bottom: 5px solid #F58025;
}

section:nth-child(odd) h2, 
section:nth-child(odd) p, 
section:nth-child(odd) li, 
section:nth-child(odd) li a,
section:nth-child(odd) a
/*section:nth-child(odd) a.expand-link, 
section:nth-child(odd) a.backtotop*/ {
	color: #16023B; /*blue*/
}

section:nth-child(even) {
	background-color: #16023B; /*blue*/
}

section:nth-child(even) h2, 
section:nth-child(even) p, 
section:nth-child(even) li, 
section:nth-child(even) li a,
section:nth-child(even) a
/*section:nth-child(even) a.expand-link, 
section:nth-child(even) a.backtotop*/ {
	color: white;
}

/*ELEMENTS*/

img {
	max-width: 100%; /*Means image will only get as wide as it is naturally, NOT the width of the screen.*/
	height: auto; /*Means image will resize proportionally*/
}

.more-info {
	display: none;
}

.more-info img {
	margin: auto;
}

