
/*BACKGROUND IMAGE*/

body { 
  background: url(../images/Spring2013_graduates_bw.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*MAIN HEADER*/

span#nav-mobile {
	display: none;
}

header {
	height: 100vh;
}


header > div:first-child {
	margin-top: 25vh;
}

#footer {;
	width: 100%;
}

div#footer div {
	margin: auto;
	color: white;
	position: relative;
	text-align: left;
	height: 50px;   /* Height of the footer */
}	

div#footer a:hover{
	font-weight: bold;
}