/*Styling for SMALLEST VIEWPORTS -- UP TO 767px width -- tablet css kicks in at that size.*/

body { 
  background: url(../images/Spring2013_graduates_bw.jpg) no-repeat top center fixed; /*scroll replaced fixed*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/*MAIN NAVIGATION BAR*/
/*ACCORDIAN*/

.block
{
  margin: auto;
  position: fixed;
  background-color: white;
  z-index: 1;
  border: 1px solid white;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #16023B; /*blue*/
}

div.block span{
  display: block;
  margin: 2px;
  cursor: pointer;
}

::selection{
  background: #222;
  color: #16023B;
}

.menu:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color: #16023B;
  margin-left: 5px;
}

div.menu {
	margin: 5px 40px;
	color: #16023B;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

div.info {
	margin-left: 40px;
}

li#donate {
	margin-bottom: 10px;
}

div.info a {
	color: #16023B;
}

div.info a:hover {
	text-decoration: underline;
}

#primary_nav_wrap {
	display: none;
}

#primary_nav_wrap ul li.current-menu-item > a:after {
	content: "\2605";
}

#primary_nav_wrap ul li {
	line-height: 1.5;
}

ul.sub-menu li {
	margin-left: 20px;
	list-style: disc;
	font-size: 16px;
	line-height: 1.75;
}

#primary_nav_wrap ul li#donate {
	background-color: #F58025; /*orange*/
	border: 1px solid #16023B; /*blue*/
	border-radius: 2px; 
	margin: 5px 0;
	padding: 2px;
	width: 90px;
}

#primary_nav_wrap ul li#donate a {
	color: white;
	text-transform: uppercase;
	margin: 2px auto;
}

#primary_nav_wrap ul li#donate a:hover {
	color: #16023B; /*blue*/
}


/*MAIN HEADER*/

header {
	height: auto;
}

a#down {
	display: none;
}

a#down:after {
	display: none;
}


/*HEADING MOBILE SIZING*/

h1 {
	font-size: 28px;
}

h2, h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5, h6 {
	font-size: 18px;
}

div.more-info p, div.more-info p li {
	font-size: 16px;
}


/*SLIDER*/

div.slider img {
	max-width: 60vw;
	margin: 10px auto;
}