/*DEFAULT CSS STARTER*/

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*HEADERS*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fredericka the Great', cursive;
	margin: 20px 0px;
}

h1 {
	font-size: 98px;
	text-align: center;
	color: #16023B; /*blue*/

}

h2 {
	font-size: 48px;
	color: #FFFFFF; /*white*/
}

h3 {
	font-size: 32px;
	color: #16023B; /*blue*/
}

h4 {
	font-size: 26px;
	color: #16023B; /*blue*/
}

#slider h4 {
	text-align: center; /*Used in SLIDER to keep text centered.*/
}

h5 {
	font-size: 18px;
	color: #16023B; /*blue*/
}

h6 {
	font-size: 14px;
	color: #16023B; /*blue*/
}

.more-info h1, 
.more-info h2, 
.more-info h3, 
.more-info h4, 
.more-info h5, 
.more-info h6 {
	color: #16023B; /*blue*/
}

/*BODY COPY*/

p, 
li, 
div.more-info p, 
div.two-column div,
div#footer div {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

p {
	color: white;
}
	
/*MAIN HEADER*/


header > div, section > div { /*targeting ONLY the very first div inside a section tag.*/
	max-width: 900px;
	margin: auto;	
}

header > div {
	background-color: rgba(255,255,255,0.7);
	border: 1px solid white;
}

header, section {
	padding: 50px;
}

/*SLIDER*/

div.slider {
	background-color: rgba(255,255,255,0.7); /*translucent white*/
	border: 1px solid white;
}

div.slider img {
	max-width: 900px;
	margin: 10px auto;
}

div.slider p {
	text-align: center;
	margin: 0px 20px;
}

/*SECTION-SPECIFIC*/

section:nth-child(odd) {
	background-color: rgba(255,255,255,0.7);
	border-top: 5px solid #F58025;
	border-bottom: 5px solid #F58025;
}

section:nth-child(odd) h2, 
section:nth-child(odd) p, 
section:nth-child(odd) li, 
section:nth-child(odd) li a,
section:nth-child(odd) a
/*section:nth-child(odd) a.expand-link, 
section:nth-child(odd) a.backtotop*/ {
	color: #16023B; /*blue*/
}

section:nth-child(even) {
	background-color: #16023B; /*blue*/
}

section:nth-child(even) h2, 
section:nth-child(even) p, 
section:nth-child(even) li, 
section:nth-child(even) li a,
section:nth-child(even) a
/*section:nth-child(even) a.expand-link, 
section:nth-child(even) a.backtotop*/ {
	color: white;
}

/*ELEMENTS + FEATHERLIGHT*/

img {
	max-width: 100%; /*Means image will only get as wide as it is naturally, NOT the width of the screen.*/
	height: auto; /*Means image will resize proportionally*/
}

.more-info {
	display: none;
}

.more-info img {
	margin: auto;
}

div#footer div {
	margin: auto;
	color: white;
	position: relative;
	text-align: left;
	height: auto;   /* Height of the footer */
}	

div#footer a:hover{
	font-weight: bold;
	text-decoration: underline;
}

#footer {
	width: 100%;
}
