/*Styling for SMALLEST VIEWPORTS -- UP TO 767px width -- tablet css kicks in at that size.*/

/*MAIN NAVIGATION BAR*/
/*ACCORDIAN*/

.block
{
  margin: auto;
  position: fixed;
  background-color: white;
  z-index: 1;
  border: 1px solid white;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #16023B; /*blue*/
}

.block input[type='checkbox']:checked ~ .info{
  height: auto;
  transition: .3s ease-in;
}

input[type='checkbox']{
  width: 100%;
  display: none;
}

label{
  width: 450px;
  max-width: 100%;
  cursor: pointer;
}

div.block span{
  display: block;
  margin: 2px;
  cursor: pointer;
}

.info{
  width: 100%;
  height: 0px;
  padding-left: 15px;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  transition: .3s ease-out;
} 

::selection{
  background: #222;
  color: #16023B;
}

.menu:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color: #16023B;
  margin-left: 5px;
}

div.menu {
	margin: 0 40px;
	color: #16023B;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

div.info {
	margin-left: 40px;
}

li#donate {
	margin-bottom: 10px;
}

div.info a {
	color: #16023B;
}

div.info a:hover {
	text-decoration: underline;
}

#primary_nav_wrap ul li.current-menu-item a:after {
	content: "\2605";
}

#primary_nav_wrap ul li {
	line-height: 1.5;
}

ul.sub-menu li {
	margin-left: 20px;
	list-style: disc;
	font-size: 16px;
	line-height: 1.75;
}

#primary_nav_wrap ul li#donate {
	background-color: #F58025; /*orange*/
	border: 1px solid #16023B;
	border-radius: 2px; 
	margin: 5px 0;
	padding: 2px;
	width: 90px;
}

#primary_nav_wrap ul li#donate a {
	color: white;
	text-transform: uppercase;
	margin: 2px auto;
}

#primary_nav_wrap ul li#donate a:hover {
	color: #16023B; /*blue*/
}


/*HEADER SECTION*/

header {
	height: auto;
}

header > div {
	background-color: rgba(255,255,255,0.7);
	border: 1px solid white;
}

header, section {
	padding: 40px;
}

a#down {
	display: none;
}

a#down:after {
	display: none;
}


/*HEADING MOBILE SIZING*/

h1 {
	font-size: 28px;
}

h2, h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5, h6 {
	font-size: 18px;
}


/*SLIDER*/

div.slider {
	background-color: rgba(255,255,255,0.7); /*translucent white*/
	border: 1px solid white;
}

div.slider img {
	max-width: 75vw;
	margin: 10px auto;
}

div.slider p {
	text-align: center;
	margin: 0px 20px;
}

/*SECTION-SPECIFIC*/

section:nth-child(odd) {
	background-color: rgba(255,255,255,0.7);
	border-top: 5px solid #F58025;
	border-bottom: 5px solid #F58025;
}

section:nth-child(odd) h2, 
section:nth-child(odd) p, 
section:nth-child(odd) li, 
section:nth-child(odd) li a,
section:nth-child(odd) a
/*section:nth-child(odd) a.expand-link, 
section:nth-child(odd) a.backtotop*/ {
	color: #16023B; /*blue*/
}

section:nth-child(even) {
	background-color: #16023B; /*blue*/
}

section:nth-child(even) h2, 
section:nth-child(even) p, 
section:nth-child(even) li, 
section:nth-child(even) li a,
section:nth-child(even) a
/*section:nth-child(even) a.expand-link, 
section:nth-child(even) a.backtotop*/ {
	color: white;
}

/*ELEMENTS*/

img {
	max-width: 100%; /*Means image will only get as wide as it is naturally, NOT the width of the screen.*/
	height: auto; /*Means image will resize proportionally*/
}

.more-info {
	display: none;
}

.more-info img {
	margin: auto;
}
