@media(min-width: 1024px) {

/*HEADERS*/

h1 {
	font-size: 98px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

/*SLIDER IMAGE RESIZING*/

div.slider img {
	max-width: 900px; /*previously 900px*/
}

}
