/*HEADINGS*/

div.more-info h2 {
	padding-bottom: 10px;
}

/*BODY COPY*/

div.more-info p, div.more-info a, div.more-info li {
	color: #16023B; /*blue*/
}

div.more-info li, div.content li {
	list-style: disc;
	list-style-position: inside;
}

button, a.expand-link, a.backtotop {
	font-family: 'Lato', cursive;
	font-size: 20px;
	margin-top: 20px;
}

button {
	color: white;
	background-color: #F58025; /*orange*/
	border: 1px solid white;
	border-radius: 5px; 
	text-align: center;
	text-decoration: none;
}

button a {
	text-decoration: none;
	color: white;
}

p a, div.more-info li a, div.content li a {
	text-decoration: underline #F58025; /*orange*/
}

button a:hover, a.expand-link:hover, a.backtotop:hover  {
	text-transform: uppercase;
}

div.content div.team p {
	color: white;
}

div.content div.team:hover p {
	color: #16023B; /*blue*/
}

div.content > div {
	border: 1px solid #16023B;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

div.content div.team:hover {
	background-color: white;
	border: 2px solid #16023B; /*blue*/
}

div.team img {
	max-width: 100%;
}

div.content > div:hover {
	background-color: #16023B; /*blue*/
}

div.content > div:hover div.girlstitle {
	color: white;
}

div.girlstitle, div.content div.team:hover p {
	text-transform: none;
}

div.content > div img {
	padding: 10px;
}

div.more-info p.question, span.strong {
	font-weight: bold;
}

div.more-info p.answer {

}

div.more-info li, div.content li {
	list-style: disc;
	list-style-position: inside;
}

div.more-info h2, div.more-info h3 {
	text-align: center;
}

div.more-info img {
	float: right;
	height: auto;
}
