/*SMALLEST VIEWPORTS -- UP TO 567px*/

/*MAIN NAVIGATION BAR*/
/*ACCORDIAN*/

.block
{
  margin: auto;
  position: fixed;
  background-color: white;
  z-index: 1;
  border: 1px solid white;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #16023B; /*blue*/
}

div.block span{
  display: block;
  margin: 2px;
  cursor: pointer;
}

::selection{
  background: #222;
  color: #16023B;
}

.menu:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color: #16023B;
  margin-left: 5px;
}

div.menu {
	margin: 5px 40px;
	color: #16023B;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

div.info {
	margin-left: 40px;
}

li#donate {
	margin-bottom: 10px;
}

div.info a {
	color: #16023B;
}

div.info a:hover {
	text-decoration: underline;
}

#primary_nav_wrap {
	display: none;
}

#primary_nav_wrap ul li.current-menu-item > a:after {
	content: "\2605";
}

#primary_nav_wrap ul li {
	line-height: 1.5;
}

ul.sub-menu li {
	margin-left: 20px;
	list-style: disc;
	font-size: 16px;
	line-height: 1.75;
}

#primary_nav_wrap ul li#donate {
	background-color: #F58025; /*orange*/
	border: 1px solid #16023B; /*blue*/
	border-radius: 2px; 
	margin: 5px 0;
	padding: 2px;
	width: 90px;
}

#primary_nav_wrap ul li#donate a {
	color: white;
	text-transform: uppercase;
	margin: 2px auto;
}

#primary_nav_wrap ul li#donate a:hover {
	color: #16023B; /*blue*/
}

/*HEADER SECTION*/

header {
	height: auto;
	max-width: 400px;
	margin: 0 auto;
	padding-top: 40px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
}

header > div {
	height: auto;
/*	display: table;	GOES ON PARENT ELEMENT*/
	margin: 0 auto;
}

div.two-column {
	text-align: center;
	display: block;

}

div.two-column div {
	border: 4px solid white;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
	margin: auto;
	padding: 5px 0px;
	width: 115px;
	height: auto;
	display: inline-block;
	background: #16023B;
	margin: 3px;

}

div.two-column div a {
	color: white;
}

div.two-column div:hover {
	background-color: #F58025;
}

a#down {
	display: none;
}

a#down:after {
	display: none;
}

/*HEADING MOBILE SIZING*/

h1, h2, h3, h4, h5, h6 {
	margin: 5px 0px;
}

h1, h2 {
	font-size: 28px;
}

section:nth-child(odd) h3 {
	color: #16023B;; /*blue*/
}

section:nth-child(even) h3 {
	color: white;
}

h3, h4 {
	font-size: 22px;
}

h5, h6 {
	font-size: 18px;
}
 
div.more-info p, div.more-info p li {
	font-size: 16px;
}


/*SECTION 1: Photo Gallery*/

section.gallery {
	display: table;	/*GOES ON PARENT ELEMENT*/
	padding: 0;
	width: 100%;
}

div.photogallery  {
	display: table-cell; /*GOES ON CHILD ELEMENT TO BE DISPLAYED*/
	vertical-align: middle; /*GOES ON CHILD ELEMENT TO BE DISPLAYED*/
	margin: auto;
}

div.photogallery img {
	max-height: 275px;
	width: auto;
	border: 4px solid white;
	margin: 0 auto;
	padding: 0;
}

section.gallery div:first-child, section.gallery div:last-child {
	display: none; /*HIDE FIRST & LAST PHOTOS FOR SMALLER SCREENS*/
}

/*SECTION 2: Team*/

div.content {
	text-align: center;
	max-width: 257px;
}

div.content div.team {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #16023B; /*blue*/
	border: 2px solid white;
	max-width: 225px;
}

div.teamnav {
	width: 110px;
	height: auto;
	vertical-align: middle;
}

div.teamnav:nth-child(even) {
	float: right;
	border: 2px solid white;
}

div.teamnav:nth-child(odd) {
	float: left;	
	border: 2px solid white;
}

div.teamnav p a {
	vertical-align: middle;
}

div.content > div.teamnav:hover {
	background-color: white;
}

div.content > div.teamnav:hover p a {
	color: #16023B; /*blue*/
}

section#team, section#girls {
	padding-top: 30px;
}

div.more-info img {
	max-width: 150px;
}
